.contact-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  max-width: 700px;
}

.contact-container hr {
  height: 269px;
}

.contact-info {
  width: 50%;
}

.contact-info h2 {
  text-align: center;
  padding: 50px 0;
  font-size: 2em;
}

.contact-info.networking {
  padding-right: 50px;
}

.contact-item {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  place-items: center;
  width: 250px;
  margin: 0 auto;
}

.contact-item span {
  display: grid;
  place-items: center;
}

.icons {
  display: flex;
  place-content: center;
  gap: 15px;
}
