.contact-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 700px;
}

.contact-container hr {
  height: 269px;
}

.contact-info {
  width: 50%;
}

.contact-info h2 {
  text-align: center;
  padding: 50px 0;
  font-size: 2em;
}

.contact-info.networking {
  padding-right: 50px;
}

.contact-item {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  place-items: center;
  width: 250px;
  margin: 0 auto;
}

.contact-item span {
  display: grid;
  place-items: center;
}

.icons {
  display: flex;
  place-content: center;
  gap: 15px;
}

.icon a svg {
  transition: 0.3s ease;
  opacity: 0.85;
}

.icon a:hover svg {
  opacity: 1;
  filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.15));
}

@media (max-width: 700px) {
  .contact-info {
    transform: scale(0.9);
  }

  .contact-info h2 {
    padding: 30px 0 50px 0;
  }

  .contact-container hr {
    height: 219px;
  }
}

@media (max-width: 500px) {
  .contact-info {
    transform: scale(1);
    width: 100%;
  }

  .contact-info h2 {
    padding: 0 0 50px 0;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-item {
    padding-left: 0;
    width: max-content;
  }

  .contact-container hr {
    display: none;
  }

  .contact-info.networking {
    padding-right: 0;
    padding-top: 25px;
  }

  .contact-info.networking h2 {
    display: none;
  }
}
