.contact-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  max-width: 500px;
}

.contact-info {
  width: 50%;
}

.contact-info h2 {
  text-align: center;
  padding: 50px 0;
  font-size: 2em;
}

.contact-item {
  display: flex;
  gap: 10px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.icons {
  display: flex;
  place-content: center;
  gap: 10px;
}
