.exp-container h2 {
  text-align: center;
  padding-bottom: 50px;
  font-size: 2em;
}

.timeline-item {
  position: relative;
  display: flex;
  align-items: baseline;
  gap: 60px;
  padding-bottom: 50px;
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: 190px;
  top: 0;
  width: 2px;
  height: 100%;
  background: #333;
}

.timeline-date {
  font-weight: bold;
}

.timeline-dot {
  background-color: white;
  width: 10px;
  height: 10px;
  border: 2px solid #333;
  transform: rotate(45deg);
  position: absolute;
  left: 186px;
  top: 31px;
}

.timeline-job {
  border: 1px solid black;
  border-radius: 10px;
  width: 400px;
  padding: 20px;
}

.timeline-job h3 {
  padding-bottom: 10px;
  font-size: 1.4em;
}

.timeline-job h4 {
  padding-bottom: 15px;
  font-size: 1.1em;
}

.timeline-job p {
  line-height: 1.5;
}
