header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px 15px;
  backdrop-filter: blur(5px);
  z-index: 10;
}

header h1 {
  font-family: 'Story Script';
  font-size: 3em;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-container nav {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-container a {
  border-radius: 10px;
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  transition: 0.3s ease;
}

.nav-container a:hover {
  background-color: grey;
  color: whitesmoke;
}
