header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 52.3px;
  z-index: -1;
  background-color: #090b1193;
  backdrop-filter: blur(5px);
}

header h1 {
  font-family: 'Story Script', 'Birthstone';
  font-size: 2em;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-container nav {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-container a {
  border-radius: 10px;
  text-decoration: none;
  color: var(--color-50);
  padding: 10px 15px;
  transition: 0.3s ease;
}

.nav-container a:hover {
  background-color: var(--color-800);
  color: whitesmoke;
}

.lang-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 39.2px;
  width: 63px;
  color: var(--color-100);
  background-color: var(--color-900);
  font-size: 0.9em;
}

.lang-btn span {
  display: grid;
  place-items: center;
}

.lang-btn:hover {
  background-color: var(--color-800);
}

.menu-icon {
  display: none;
  background-color: transparent;
  border: none;
  color: var(--color-50);
}

@media (max-width: 850px) {
  header {
    padding: 5px 15px;
  }

  .nav-container nav {
    position: fixed;
    top: 52.3px;
    right: 0px;
    transform: translateX(100%);
    opacity: 0;
    transition: 0.5s ease;
    display: flex;
    flex-direction: column;
    background-color: #090b1193;
    backdrop-filter: blur(5px);
    z-index: 10;
    padding: 15px;
    width: 100%;
    max-width: 300px;
    gap: 5px;
    border-radius: 0 0 0 10px;
    border: 1px solid rgba(255, 255, 255, 0.05);
  }

  .nav-container nav.open {
    transform: translateX(0);
    opacity: 1;
  }

  .menu-icon {
    display: grid;
    place-items: center;
    cursor: pointer;
    z-index: 30;
  }

  .nav-container nav a {
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  .nav-container nav a:hover {
    background-color: var(--color-800);
  }
}

@media (max-width: 500px) {
  .nav-container nav {
    max-width: 100%;
  }
}
