header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px 15px;
  background-color: #090b1193;
  backdrop-filter: blur(5px);
  z-index: 10;
}

header h1 {
  font-family: 'Story Script', 'Birthstone';
  font-size: 3em;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-container nav {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-container a {
  border-radius: 10px;
  text-decoration: none;
  color: var(--color-50);
  padding: 10px 15px;
  transition: 0.3s ease;
}

.nav-container a:hover {
  background-color: var(--color-800);
  color: whitesmoke;
}

.lang-btn {
  display: flex;
  place-items: center;
  gap: 5px;
  width: 63px;
  color: var(--color-100);
  background-color: var(--color-800);
}

.lang-btn span {
  display: grid;
  place-items: center;
}

.lang-btn:hover {
  background-color: var(--color-700);
}
