section {
  border: 1px solid red;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.about-container {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 700px;
  gap: 20px;
}

.photo-container {
  border: 1px solid black;
  width: 200px;
}

.photo-container img {
  width: 200px;
  object-fit: cover;
}
