section {
  display: grid;
  align-items: start;
  justify-items: center;
  padding: 115px 0 165px 0;
}

.center-layout {
  align-items: center;
  min-height: 100vh;
  padding-bottom: 0;
  margin-bottom: 50px;
}

.about-container {
  display: flex;
  width: 80%;
  max-width: 700px;
  gap: 50px;
  align-items: center;
}

.about-inner-container h2 {
  padding-bottom: 10px;
  font-size: 1.8em;
}

.about-inner-container h3 {
  padding-bottom: 25px;
  font-size: 1.4em;
}

.about-inner-container p {
  line-height: 1.5;
}

.cv-btn {
  margin-top: 30px;
  padding: 5px 15px;
  background-color: var(--color-800);
}

.cv-btn a {
  text-decoration: none;
  display: flex;
  place-items: center;
  gap: 10px;
  color: var(--color-100);
  font-weight: 600;
}

.cv-btn span {
  display: grid;
  place-items: center;
}

.cv-btn:hover {
  background-color: var(--color-700);
}

.photo-container {
  width: 225px;
}

.photo-container img {
  width: 225px;
  object-fit: cover;
  background-image: radial-gradient(circle, var(--color-900), var(--color-950));
  border-radius: 10%;
}

.diamond-hr {
  border-top: 1px solid rgba(255, 255, 255, 0.39);
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.diamond-hr::after {
  content: '';
  border: 1px solid rgba(255, 255, 255, 0.39);
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #0d1019;
}
