section {
  border: 1px solid red;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.about-container {
  display: flex;
  width: 80%;
  max-width: 700px;
  gap: 50px;
  align-items: center;
}

.about-inner-container h2 {
  padding-bottom: 10px;
  font-size: 1.8em;
}

.about-inner-container h3 {
  padding-bottom: 25px;
  font-size: 1.4em;
}

.about-inner-container p {
  line-height: 1.5;
}

.cv-btn {
  margin-top: 20px;
  padding: 5px 15px;
}

.photo-container {
  width: 225px;
}

.photo-container img {
  width: 225px;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 10px;
}
