.projects-container {
  width: 80%;
  max-width: 900px;
}

.projects-container h2 {
  text-align: center;
  padding-bottom: 50px;
  font-size: 2em;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.project {
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
}

.project img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.project-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px 10px;
  gap: 10px;
}

.project-desc h3 {
  font-size: 1.4em;
  padding: 10px 0;
}

.project-desc p {
  line-height: 1.4;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  padding: 10px 5px;
  height: 72px;
}

.project-tags span {
  border: 1px solid blue;
  font-size: 0.9em;
  border-radius: 15px;
  padding: 3px 5px;
  height: max-content;
}

.project-links {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
}

.project-links a {
  text-decoration: none;
  color: black;
  transition: 0.3s ease;
}

.project-links a:hover {
  color: darkblue;
}
