.projects-container {
  width: 80%;
  max-width: 900px;
}

.projects-container h2 {
  text-align: center;
  padding-bottom: 50px;
  font-size: 2em;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.project {
  width: 300px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  transition: 0.3s ease;
  background-color: rgba(255, 255, 255, 0.03);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.project:hover {
  transform: scale(1.02);
}

.project img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  filter: brightness(0.95) saturate(0.9);
}

.project-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px 10px;
  gap: 10px;
}

.project-desc h3 {
  font-size: 1.4em;
  padding: 10px 0;
  color: var(--color-50);
  font-weight: 600;
}

.project-desc p {
  line-height: 1.4;
  color: var(--color-200);
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px 5px;
  height: 72px;
}

.project-tags span {
  background-color: var(--color-800);
  color: var(--color-100);
  font-size: 0.8em;
  border-radius: 15px;
  padding: 5px 7px;
  height: max-content;
}

.project-hr {
  color: rgba(255, 255, 255, 0.08);
}

.project-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

.project-links a {
  text-decoration: none;
  color: var(--color-200);
  transition: 0.3s ease;
  border-radius: 5px;
  display: flex;
  place-items: center;
  gap: 7px;
  padding: 5px;
  font-size: 0.9em;
}

.project-links a:hover {
  color: var(--color-50);
}

.project-links a svg {
  transition: 0.3s ease;
  transform: translateX(0);
  transition: fill 0.2s ease, transform 0.2s ease;
}

.project-links a:hover svg {
  stroke: var(--color-50);
  transform: translateX(2px);
}

.project-links span {
  display: grid;
  place-items: center;
}
