.projects-container {
  width: 80%;
  max-width: 900px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.project {
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
}

.project img {
  width: 100%;
  height: 125px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.project-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px 10px;
  gap: 10px;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  padding: 10px 5px;
}

.project-tags span {
  border: 1px solid blue;
  font-size: 0.9em;
  border-radius: 15px;
  padding: 0 5px;
}
