.skills-container h2 {
  text-align: center;
  padding-bottom: 50px;
  font-size: 1.8em;
}

.skills-wrap {
  border-radius: 10px;
  width: 400px;
}

.skills-selector {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.skills-selector h3 {
  cursor: pointer;
  width: 50%;
  text-align: center;
  padding: 5px 0;
}

.skills-selector h3.show {
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
}
.skills-selector h3.hide {
  border-bottom: 1px solid black;
}

.skills-view {
  padding: 15px;
  border: 1px solid black;
  border-radius: 0 0 3px 3px;
  border-top: none;
}

.skills-view li {
  list-style: none;
  padding-bottom: 10px;
}
