.skills-container {
  width: 80%;
}

.skills-container h2 {
  text-align: center;
  padding-bottom: 50px;
  font-size: 2em;
}

.skills-wrap {
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background-color: rgba(255, 255, 255, 0.03);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.skills-selector {
  display: flex;
  justify-content: space-around;
}

.skills-selector h3 {
  cursor: pointer;
  width: 50%;
  text-align: center;
  padding: 15px 0;
  font-size: 1.4em;
  margin: 15px;
  transition: 0.3s ease;
  border-radius: 10px;
}

.skills-selector h3:hover {
  background-color: var(--color-800);
}

.skills-selector h3.show {
  background-color: var(--color-800);
}

.separator {
  display: flex;
  place-items: center;
}

.selector-hr {
  height: 70%;
  color: rgba(255, 255, 255, 0.08);
}

.skills-view {
  padding: 0 0 40px;
}

.skills-hr {
  width: 94%;
  margin: 0 auto 50px;
  color: rgba(255, 255, 255, 0.08);
}

.tech-skills {
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 0 15px;
}

.skill-container {
  position: relative;
  width: 75px;
  cursor: default;
  margin: 20px;
}

.skill-container img {
  width: 100%;
  height: 75px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: 0.3s ease;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: max-content;
  opacity: 0;
  transition: 0.3s ease;
  display: grid;
  place-content: center;
  transform: translateY(110%);
}

.overlay p {
  text-align: center;
  font-size: 0.9em;
  padding-top: 5px;
}

.skill-container:hover .overlay {
  opacity: 1;
  transform: translateY(100%);
}

.skill-container:hover img {
  filter: grayscale(0);
}

.soft-skills {
  padding: 0 0 15px;
}

.soft-skills li {
  padding: 0 20px 40px 10px;
  margin-left: 80px;
  font-size: 1.1em;
  font-weight: 600;
}
