.skills-container h2 {
  text-align: center;
  padding-bottom: 50px;
  font-size: 2em;
}

.skills-wrap {
  width: 80%;
  max-width: 700px;
  min-width: 560px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid black;
}

.skills-selector {
  display: flex;
  justify-content: space-around;
}

.skills-selector h3 {
  cursor: pointer;
  width: 50%;
  text-align: center;
  padding: 15px 0;
  font-size: 1.4em;
  margin: 15px;
  transition: 0.3s ease;
}

.skills-selector h3:nth-of-type(1) {
  border-radius: 10px 0 0 0;
}
.skills-selector h3:nth-of-type(2) {
  border-radius: 0 10px 0 0;
}

.skills-selector h3:hover {
  background-color: lightgray;
}

.skills-selector h3.show {
  background-color: lightgray;
}

.separator {
  display: flex;
  place-items: center;
}

.selector-hr {
  height: 70%;
}

.skills-view {
  padding: 0 0 25px;
}

.skills-hr {
  width: 90%;
  margin: 0 auto 50px;
}

.tech-skills {
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 0 0 15px;
}

.skill-container {
  position: relative;
  width: 75px;
  cursor: default;
  padding-bottom: 10px;
}

.skill-container img {
  width: 100%;
  height: 75px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: 0.3s ease;
}

.overlay {
  position: absolute;
  bottom: -15;
  left: 0;
  width: 100%;
  height: max-content;
  opacity: 0;
  transition: 0.3s ease;
  background-color: rgba(255, 255, 255, 0.262);
  display: grid;
  place-content: center;
}

.overlay p {
  text-align: center;
  font-size: 1em;
}

.skill-container:hover .overlay {
  opacity: 1;
}

.skill-container:hover img {
  filter: grayscale(0);
}

.soft-skills {
  padding: 0 0 15px;
}

.soft-skills li {
  list-style: none;
  padding: 0 0 40px 10px;
  margin-left: 50px;
  font-size: 1.1em;
}
