:root {
  --color-50: #eef1f6;
  --color-100: #d0d7e7;
  --color-200: #b2bed7;
  --color-300: #93a5c8;
  --color-400: #758bb8;
  --color-500: #5772a8;
  --color-600: #475d8a;
  --color-700: #37496c;
  --color-800: #2e3c59;
  --color-900: #18202f;
  --color-950: #090b11;
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Inter';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-900);
  background-image: linear-gradient(
    135deg,
    var(--color-950) 0%,
    var(--color-900) 75%
  );
  color: var(--color-50);
}

.primary-btn {
  border: none;
  font-size: 1em;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.6s ease;
}

.fade-in.show {
  opacity: 1;
}
