* {
  font-family: 'Inter';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.primary-btn {
  border: none;
  font-size: 1em;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}
